* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* General */
.btn {
  display: block;
  min-width: 120px;
  outline: none;
  border: none;
  background: #ccc;
  color: #fff;
  height: 35px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s linear;
  will-change: opacity;
}

.btn:hover {
  opacity: 0.7;
}

.btn.btn--accept {
  background: linear-gradient(45deg, red, blue);
}

.btn.btn--cancel {
  background: linear-gradient(45deg, yellow, blue);
}

.modal {
  display: none;
}

.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .overlay .modal-main {
  background-color: #fff;
  min-width: 400px;
  height: 240px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), -5px -5px 5px rgba(0, 0, 0, 0.3);
  padding: 30px 10px;
}

.modal .modal-main .modal-header {
  text-align: center;
  font-size: 30px;
}

.modal .modal-main .modal-content {
  margin: 30px 0 50px;
  text-align: center;
  font-style: italic;
}

.modal .modal-main .modal-footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
